
#formulario {
	background: none repeat scroll 0 0 #D3D3D4;
    box-shadow: 6px 8px 9px 2px #CCCCCC;
    color: #800000;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25%;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
}

h3 {
    margin-top: 20px;
    margin-left: 34%;
    margin-bottom: 20px;
    color: #800000;
}

#datos label{
    display: inline-block;
    width: 160px;
}

#estudiante .si{
    margin-left: 70px;
}
  
#boton .button{
    background: #008080;
    color: #ffffff;
    width: 35%;
    height: 15%;
    border-radius: 40px;	
	margin-top: 20px;
	margin-left: 40px;
}