
#formulario {
	background: none repeat scroll 0 0 #D3D3D4;
    box-shadow: 6px 8px 9px 2px #CCCCCC;
    color:  #900C3F ;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25%;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
}

h3 {
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 20px;
    color: #800000;
}

#numero label{
    display: inline-block;
    width: 40%;
}
 
.button {
    background: #008080;
    color: #ffffff;
    width: 50%;
    height: 15%;
    border-radius: 40px;	
	margin-top: 20px;
	margin-left: 28%;
}