
#formulario {
	background: none repeat scroll 0 0 #D3D3D4;
    box-shadow: 6px 8px 9px 2px #CCCCCC;
    color: #5D5D60;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25%;
    padding: 10px;
    width: 20%;
    display: inline-block;
}

h3 {
    margin-top: 20px;
    margin-left: 27%;
    margin-bottom: 20px;
    color: #800000;
}

label{
    display: inline-block;
    width: 100px;
}
  
#button {
    background: #008080;
    color: #ffffff;
    width: 50%;
    height: 15%;
    border-radius: 40px;	
	margin-top: 20px;
	margin-left: 28%;
}